{{> header}}
<main>
  <h1>Welcome to the your training log!</h1>
  <p>time {{time}}</p>
  <p>distance {{distance}}</p>
  <p>speed {{speed}}</p>
 
<!-- 
make a form with time distance and speed simailar to calculate form
to submit to POST /api/training-log is in api routes.js
-->
 <h1>Add a previous bike training time</h1>
  <h4>Enter your information</h4>
  <form class= "calc_form" action="/api/training-log" method="POST">
    <label for ="distance">Distance (mi):</label>
    <input type ="number" name="distance" id="distance" step = "0.1" value="{{distance}}" required /><br><br>

    <label for ="speed">Speed (mi/hr):</label>
    <input type="number" name="speed" id="speed" step = "0.1" value="{{speed}}" required><br><br>
    <button type="submit">Calculate</button><br><br>
  </form>
 <ul>
 
  {{#if result}}
  <h2>Bike Training Time</h2>
  <p>Bike Time:  {{result}} hour(s)</p>

 {{/if}}


 
  <p id="result">Log Your Time: <a href="/log{{#if result}}?time={{result}}&speed={{speed}}&distance={{distance}}{{/if}}">Log Time</a></p>

</main>