{{> header}}
<main>
  <h1>Welcome to the your training log!</h1>
  <p>Bike Training Log (starting with most recent).</p>
  
  {{#each rides}}
  <p>
  Distance: {{distance}} 
  Speed: {{speed}} 
  Time: {{time}}  
  Date: {{ride_date}}
  <button data-id = "{{id}}">delete</button>
  {{/each}}
  </p>

 
<!-- 
make a form with time distance and speed simailar to calculate form
to submit to POST /api/training-log is in api routes.js
-->
 <h2>Add bike training time.</h2>
  <h4>Enter your information</h4>
  <form class= "calc_form" action="/api/training-log" method="POST">

    <label for ="distance">Distance (mi):</label>
    <input type ="number" name="distance" id="distance" step = "0.1" value="{{distance}}" required><br><br>

    <label for ="speed">Speed (mi/hr):</label>
    <input type="number" name="speed" id="speed" step = "0.1" value="{{speed}}" required><br><br>

    <label for ="time">Time (hours):</label>
    <input type="number" name="time" id="time" step = "0.1" value="{{time}}" required><br><br>

    <label for ="ride_date">Ride Date:</label>
    <input type="date" name="ride_date" id="ride_date"  required><br><br>

    <button type="submit">Add to training log</button><br><br>
    
  </form>
 <ul>
 
</main>


console.log('hello')